{% extends 'base.html.twig' %}

{% block title %}connexion{% endblock %}

{% block body %}
    <div class="container mt-5">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <h1 class="h3 mb-3 font-weight-normal display-4 text-center">Connexion </h1>
            <div class="form-floating mb-3">
                <label for="inputEmail">Adresse Email</label>
                <input type="email" placeholder="name@example.com" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
            </div>
            <div class="form-floating">
                <label for="inputPassword">Mot de passe</label>
                <input type="password" placeholder="Password" name="password" id="inputPassword" class="form-control" required>
            </div>
            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >

            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
            #}

            <button class="btn btn-lg btn-primary mt-4" type="submit">
                Connexion
            </button>
        </form>
    </div>  
{% endblock %}
